@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel">
    <div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Check the real time of public transport from Park West.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Refresh
                    </a>
                </p>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
        <h2>79A</h2>
        <ul>
            <li>15 min</li>
            <li>25 min</li>
            <li>35 min</li>
            <li>45 min</li>
            <li>55 min</li>
            <li>65 min</li>
        </ul>
    </div>
    <div class="col-md-2">
        <h2>151</h2>
        <ul>
            <li>15 min</li>
            <li>25 min</li>
            <li>35 min</li>
            <li>45 min</li>
            <li>55 min</li>
            <li>65 min</li>
        </ul>
    </div>
    <div class="col-md-2">
        <h2>860</h2>
        <ul>
            <li>15 min</li>
            <li>25 min</li>
            <li>35 min</li>
            <li>45 min</li>
            <li>55 min</li>
            <li>65 min</li>
        </ul>
    </div>
    <div class="col-md-2">
        <h2>Luas</h2>
        <ul>
            <li>15 min</li>
            <li>25 min</li>
            <li>35 min</li>
            <li>45 min</li>
            <li>55 min</li>
            <li>65 min</li>
        </ul>
    </div>
    <div class="col-md-2">
        <h2>Train</h2>
        <ul>
            <li>15 min</li>
            <li>25 min</li>
            <li>35 min</li>
            <li>45 min</li>
            <li>55 min</li>
            <li>65 min</li>
        </ul>
    </div>
</div>
